<section class="gradient-custom" *ngIf="proyecto">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light" style="border-radius: 1rem;">
            <div class="card-body text-center">
  
              <div class="mb-md-5 mt-md-4">
  
                <h2 class="fw-bold mb-2">Editar proyecto</h2>
  
                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
  
                  <div class="form-outline mb-4">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="descripcionP">Descripcion</label>
                    <textarea class="form-control" id="descripcionP" name="descripcionP" rows="3" [(ngModel)]="proyecto.descripcionP" required></textarea>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label for="enlaceP">Enlace al proyecto</label>
                    <input type="text" class="form-control" id="enlaceP" name="enlaceP" [(ngModel)]="proyecto.enlaceP" required>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label for="imgP">Captura</label>
                    <input type="file" class="form-control" id="imgP" name="imgP" [(ngModel)]="proyecto.imgP" (change)="uploadImagen($event)" accept=".jpg, .jpeg, .png" required>
                  </div>
                  <div class="form-outline mb-4" id="imagen">
                  </div>
                  <div class="form-outline mb-4" id="imagen2" style="display: none;">
                    <img [src]="sProyecto.urlP" width="150px">
                  </div>  
                  <button class="btn btn-primary text-white btn-lg btn-block" type="submit">Actualizar</button>
  
                </form>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>