.row{
    padding: 20px;
    background: #18b4ed;
    text-align: center;
}
.contenedor{
    width: auto;
    padding-top: 20px;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 5px 5px 20px rgb(71, 98, 104);
}
hr{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
}
.nuevo{
    background-color: #071b5d;
}
.btn{
    margin: 3px;
}